@media screen and (max-height: 550px) {
  footer {
    position: fixed;
    height: 80px;
    z-index: 2;
    width: 100vw;
    bottom: 0;
    left: 0;
  }
}
@media screen and (min-width: 550px) {
  header {
    width: calc(100vw - 200px);
  }

  .container-5 {
    margin-left: 0;
  }
  .container-5 > * {
    padding-left: 5px;
  }
  #under-logo {
    padding-left: 0;
  }
  #under-logo > * {
    padding-left: 5px;
    padding-bottom: 0;
    margin-bottom: 5px;
  }
  #under-logo > a:first-child {
    border-left: 2px solid #74c26a;
  }
  /* Sidebar**************************** */
  #sidebar {
    min-width: 200px;
    max-width: 200px;
  }
  #sidebar .big-logo {
    display: flex;
    justify-content: flex-start;
    height: 80px;
  }
  #sidebar .big-logo img {
    width: auto;
    max-height: 50px;
  }
  /* margin: 10px 0 25px 0; */
  #sidebar .small-logo {
    display: none;
  }
  #sidebar span,
  #sidebar h2 {
    display: inline-block;
  }
  #playlist {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  /* Profile****************************** */
  #profile {
    width: 100%;
  }
  #profile .download {
    justify-content: flex-start;
    width: 100%;
    border-bottom: 1px solid #b2b2b2;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
  #profile .download img {
    padding-right: 10px;
  }
  #profile .account h2 {
    padding-left: 10px;
  }
  /* ********************** footer ********************************** */
  .time-actions {
    width: 60%;
  }
}

@media screen and (min-width: 577px) {
  #volume {
    justify-content: space-evenly;
  }
  .songs .card {
    width: calc(100% / 4 - 10px);
  }
  .current-actions {
    padding-left: 25px;
    flex-direction: row;
    align-items: center;
  }
  .current-actions a {
    padding-right: 10px;
  }
  #top-nav a {
    font-size: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .songs .card {
    width: calc(100% / 6 - 10px);
  }
  .recent-played {
    flex-grow: 1;
  }
}
