@media screen and (min-width: 577px) {
  .songs .card {
    width: calc(100% / 4 - 10px);
  }
  /* Sidebar**************************** */
  #sidebar {
    width: 600px;
  }
  #sidebar .big-logo {
    display: block;
  }
  #sidebar .big-logo img {
    width: 100%;
    margin: 15px 0 25px 0;
  }
  #sidebar .small-logo {
    display: none;
  }
  #sidebar span,
  #sidebar h2 {
    display: inline-block;
  }
  #playlist {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  /* Profile****************************** */
  #profile {
    width: 100%;
  }
  #profile .download {
    justify-content: flex-start;
    width: 100%;
    border-bottom: 1px solid #b2b2b2;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
  #profile .download img {
    padding-right: 10px;
  }
  #profile .account h2 {
    padding-left: 10px;
  }
  /* ********************** footer ********************************** */
  .time-actions {
    width: 60%;
  }
}
