/* *Generics* */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main-flex {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}
/* ******************** utilities ******************** */
.grey-txt {
  color: #b2b2b2;
}
.grey-svg {
  filter: invert(0.3);
}

.btn {
  padding: 10px 15px;
  border: 1px solid white;
  border-radius: 20px;
  color: white;
}
/* padding */
.pb-5 {
  padding-bottom: 5px;
}

/* * main-flex********* */
#main-box {
  flex-grow: 1;
  background-color: #141922;
}

footer {
  flex-basis: 80px;
  background-color: #282828;
}

/* ******************** main-box *************************** */
#main-box {
  display: flex;
}

/* *********************** sidebar **************************** */
#sidebar {
  flex-basis: 50px;
  background-color: black;
  display: flex;
  flex-direction: column;
  padding: 10px;
  z-index: 1;
}

#sidebar a {
  display: flex;
  align-items: center;
}
#sidebar img {
  padding-right: 5px;
}
#sidebar span {
  display: none;
  color: #b2b2b2;
}
/* ************************ main ****************************** */
main {
  position: relative;
  flex-grow: 1;
  max-height: calc(100vh - 80px);
  max-width: calc(100vw - 50px);
  overflow: auto;
}

/* ************************ header ****************************** */

header {
  position: fixed;
  left: 0;
  height: 80px;
  width: 100vw;
  background-color: rgba(8, 11, 18, 0.507);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header a {
  margin-right: 5px;
}
