/* *Generics* */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main-flex {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: #b2b2b2;
}

img {
  max-width: 100%;
}
/* ******************** utilities ******************** */
.grey-txt {
  color: #b2b2b2;
}
.grey-svg {
  filter: invert(0.3);
}

.btn {
  padding: 10px 15px;
  border: 1px solid white;
  border-radius: 20px;
  color: white;
  transition: 0.5s;
}

/* container */
.container-5 {
  margin: 5px;
}
.container-10 {
  margin: 10px;
}
/* padding */
.pb-5 {
  padding-bottom: 5px;
}

/* ******************** main-flex********* */
#main-box {
  flex-grow: 1;
  background-color: #141922;
}

/* ******************** main-box *************************** */
#main-box {
  display: flex;
}

/* *********************** sidebar **************************** */
#sidebar {
  background-color: black;
  display: flex;
  flex-direction: column;
  z-index: 1;
}
#under-logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#sidebar > .container-5 {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
#sidebar .big-logo {
  display: none;
}
#sidebar a {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#sidebar a > img {
  width: 30px;
}
#sidebar span {
  display: none;
  color: #b2b2b2;
  font-size: 0.8rem;
}
#sidebar h2 {
  display: none;
  color: white;
  font-size: 0.9rem;
  padding: 15px 0 10px 0;
}
/* playlist */
#playlist {
  display: none;
}
#playlist-list {
  overflow: auto;
}
#playlist i {
  color: black;
  padding: 10px 10px;
  background-color: #b2b2b2;
  margin-right: 5px;
}
#playlist p {
  color: #b2b2b2;
  padding-top: 20px;
  font-size: 0.8rem;
}

/* profile */
#profile {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  color: #b2b2b2;
}
#profile .download {
  display: flex;
  align-items: center;
}
#profile .download {
  width: 25px;
  padding-bottom: 15px;
}
#profile .download img {
  width: 35px;
}

#profile .account {
  display: flex;
  align-items: center;
}

#profile .account a {
  width: 30px;
  height: 30px;
  background-color: #b2b2b2;
  border-radius: 50%;
  overflow: hidden;
}

/* ************************ header ****************************** */

header {
  position: fixed;
  left: 0;
  height: 80px;
  width: 100vw;
  background-color: rgba(8, 11, 18, 0.507);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header a {
  margin-right: 5px;
  transform: scale(0.8);
}

/* ************************ main ****************************** */
main {
  position: relative;
  flex-grow: 1;
  max-height: calc(100vh - 80px);
  max-width: calc(100vw - 50px);
  overflow: auto;
}

/* nav */
#top-nav {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
#top-nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#top-nav li {
  list-style: none;
  padding: 15px;
}
#top-nav a {
  font-weight: 700;
  font-size: 10px;
  color: #b2b2b2;
}

/* recent-played */
.recent-played {
  color: white;
}
.recent-played h1 {
  padding: 15px 0;
}
.songs {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.songs .card {
  width: calc(100% / 2 - 10px);
}
.description {
  text-align: center;
}
.description h2 {
  padding: 10px 0;
  font-size: 15px;
}
.description h3 {
  color: #b2b2b2;
  padding: 10px 0;
  font-size: 10px;
}

/* custom music */
.custom-music {
  color: white;
}

.custom-music h1 {
  padding-top: 15px;
}
.custom-music > h3 {
  color: #b2b2b2;
  padding: 10px 0;
  font-size: 10px;
}

/* Popular artists */
.popular-artists {
  color: white;
}

.popular-artists h1 {
  padding-top: 15px;
}
.popular-artists > h3 {
  color: #b2b2b2;
  padding: 10px 0;
  font-size: 10px;
}

.popular-artists .round {
  border-radius: 50%;
  overflow: hidden;
}

/* ********************** footer ************************************ */
footer {
  flex-basis: 80px;
  background-color: #282828;
  display: flex;
  align-items: center;
  padding: 0 5px;
}

#current-song,
#volume {
  width: 25%;
}
#timebar {
  flex-grow: 1;
}

/* current song****************************** */
#current-song {
  display: flex;
}
#current-song img {
  height: 40px;
  margin-right: 10px;
}

/* current info */
.current-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5px;
  padding-right: 10px;
}
.current-info h2 {
  color: white;
  font-size: 12px;
}
.current-info h3 {
  color: #b2b2b2;
  font-size: 10px;
}

/* current actions */
.current-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* timebar******************************** */
#timebar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.time-actions {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#timebar a {
  color: white;
}
.time-actions i {
  font-size: 1.2rem;
}
.time-actions .fa-play-circle {
  font-size: 2rem;
}

/* Time */
.time {
  width: 90%;
  display: flex;
  padding-top: 10px;
  align-items: center;
  justify-content: space-evenly;
}
.time span {
  width: auto;
  font-size: 0.8rem;
  color: white;
}
.time .bar {
  width: 80%;
  height: 3px;
  background-color: #a3a3a3;
  border-radius: 5px;
  margin: 0 3px;
}
.actual-bar {
  width: 30%;
  height: 3px;
  border-radius: 5px;
  background-color: white;
}

/* Volume ********************************/
#volume {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#volume i {
  font-size: 0.8rem;
  color: white;
}

.volume-bar {
  width: 50%;
  height: 3px;
  background-color: #a3a3a3;
  border-radius: 5px;
  margin: 0 3px;
}

.actual-volume {
  width: 30%;
  height: 3px;
  border-radius: 5px;
  background-color: white;
}

/* ********************** hover effects ******************************** */
.btn:hover {
  transform: scale(1);
}

#top-nav a:hover {
  color: white;
}
